.panel {
    background-color: pink;
    height: 100vh;
    width: 30%;

}

.shape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}